b,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

hr {
    border: 1px solid;
    margin-top: 0px;
    margin-bottom: 20px;
}

.container {
    max-width: 900px;
}

body {
    background-color: #000000;
    background-image: url(../img/weave.png);
    background-repeat: repeat;
    color: #000000;
}

.vspace {
    height: 2em;
}

table.noborder tr {
    vertical-align: top;
}

table.noborder td {
    padding: 0.2em;
}

.portrait {
    border-radius: 50%;
    width: 80%;
}

@media screen and (max-width: 576px) {
    .portrait {
        width: 50%;
    }
}

.teaser {
    width: 100%;
    border-radius: 10%;
}

.align-middle {
    align-items: center;
}

ol {
    padding-left: 1.5em;
    ;
}

ul {
    padding-left: 1.5em;
}

.others {
    text-align: center;
}

footer {
    padding: 1.0em;
    color: rgba(255, 255, 255, 0.5);
}