b,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

hr {
    border: 1px solid;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #435561;
}

body {
    background-color: #ffffff;
    background-image: url(../img/weave.png);
    background-repeat: repeat;
    overflow-wrap: break-word;
    color: #435561;
    font-size: 0.9rem;
    font-family: 'Fira Sans', 'Noto Sans JP', sans-serif;
    font-style: normal;
    letter-spacing: 0.01em
}

footer {
    padding: 1.0em;
    color: rgba(255, 255, 255, 0.5);
}

table {
    table-layout: fixed;
}

table.noborder tr {
    vertical-align: top;
}
table.noborder td {
    padding-right: 0.7em;
    padding-bottom: 0.3em;
}

table.hborder {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}
table.hborder tr {
    border-width: 1px 0;
    border-style: solid;
    border-color: #b9b9b9;
}
table.hborder td {
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

}

main .container {
    background: #ffffff;
    padding: 2em;
    margin-bottom: 2em;
}
.container {
    max-width: 1000px;
}

.vspace {
    height: 2em;
}

.portrait {
    border-radius: 50%;
    width: 70%;
}

.disabled{
    pointer-events: none;
}

@media screen and (max-width: 576px) {
    .portrait {
        width: 50%;
    }
}

.teaser {
    width: 100%;
    border-radius: 10%;
}

.align-middle {
    align-items: center;
}

a {
    color:#1e90ff;
}
a:hover {
    color: #1e90ff;
}

ol {
    padding-left: 1.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

ul {
    padding-left: 1.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    list-style-type: square;
}

.conf li {
    padding-bottom: 0.3em;    
}
.conf li:last-child {
    padding-bottom: 0.0em;
}

.others {
    text-align: center;
}

.label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    background-color: none;
    background-image: none;
    /* padding: 0.1833em .533em; */
    /* border: 1px solid; */
    text-transform: none;
    font-weight: 600;
    font-size: 0.8rem;
    /* border-radius: .26666667rem; */
}
.label.link {
    color: #1e90ff;
}
.label.award {
    color: #ff0000;
}  
.label_icon {
    display: table-cell;
    vertical-align: middle;
}
.label_contents {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0.25rem;
}